.menu-items {
	display: flex;
	/*align-items: stretch;*/
	justify-content: space-between;
	overflow: hidden;
}

li {
	display: block;
	flex: 0 1 auto;
	border-right: 1px solid white;
}

li:last-child {
	border-right: none;
}

.menu-items li {
	float: left;
}